/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// default from vuepress
.home .hero img
  max-width 450px!important

// sets background for most items
html, body, .page, .theme-container, .sidebar, .sidebar-group, nav, .navbar, .nav-dropdown, .search-box, .links, header
	background: $bgColor
  // font-family: $roboto




