/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// default from vuepress
.home .hero img
  max-width 450px!important


:root {
  --BgColor: $bgColor;
  --TextColor: $textColor
  --AccentColor: $accentColor
  --fontFamily: $Roboto
  --LineColor: $accentColor
  --LineThickness: 1px
  --PrefixColor: $textColor
  }


// sets background for most items
html, body, .page, .theme-container, .sidebar, .sidebar-group, .sidebar-heading, nav, .navbar, .nav-dropdown, .search-box, .links, header, .next, .prev, .prefix
  background: var(--BgColor) 
  color: var(--TextColor) !important
  font-family: var(--fontFamily)

.search-box
  input, .suggestions
    background: #d3d3d3 !important
    color: black !important
  ul
    background: #d3d3d3 !important
    color: black !important
    li, a
        color: black !important


.amazingdiagram
   width: 40%
   height: auto
   display: block
   margin-left: auto
   margin-right: auto

.inline-table
  color: black !important
  display inline-table 
  max-width 80%
  tr:nth-child(odd) {
    background-color: #d3d3d3
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  } 

.caption
  text-align: center
  font-size: .75em

.footnote
  text-align: center
  font-size: .66em

code:not(pre code)
  background: #d3d3d3 !important
  color: var(--AccentColor) !important

h2
  border-bottom: 4px solid var(--LineColor)