/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */



@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}


$accentColor = #fe0230
$textColor = white
$borderColor = #fe0230
$codeBgColor = #282c34
$contentWidth = 100%
$bgColor = #171717
$Roboto = 'Roboto', sans-serif